
// header
header.global {
  background: #f6911c !important;
  h1 {
    margin: -7px 39px 0 0 !important;
  }
  .primary {
    a {
      padding-bottom: 1px !important;
    }
  }
  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #dfdbd2 !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
}

// footer
.wrapper-footer {
  background: #f6911c !important;
  margin-top: 0!important;

  footer#footer-openedx {
    .references {
      float: right;
      width: inherit !important;
    }
  }
}

header.global.slim {
  h1.logo {
    margin: 0 39px 0 0 !important;
    img {
      margin-top: -16px;
    }
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}
