/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Main Color Variables
$main-color: grey; //#f7691f;
$dark-color: grey; //  #ea281f; //Link Color
$light-color: $dark-color;// #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: $dark-color;// #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #e6e6e6; // #822537;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #f2f2f2; // #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: grey; // #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #cccccc; //#e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #e6e6e6; // #fbfbfb; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

//$f-sans-serif: $founder;
//
//$theme-sans-font: 'Open Sans';
//$sans-serif: $theme-sans-font, $sans-serif;
//$body-font-family: $sans-serif;
//
//$theme-serif-font: $theme-sans-font, 'Crimson Text';
//$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: $secondary; // transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary; //$secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

//$base-font-color: $black;
//$lighter-base-font-color: $black-80;
//$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: #666; // $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: $gray-3; //   none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: $gray-3; //   none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: $gray-3; //   none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: $gray-3; //   none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: $gray-3; //   none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: $gray-3; //   none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: $gray-3; //   none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: $gray-3; //   none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: $gray-3; //   none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/default/images/background.jpg');

$login-banner-image: $gray-3; //   none;
$register-banner-image: $gray-3; //   none;

$video-thumb-url: $gray-3; //   none; // git'../themes/default/images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

// custom variables and styles

$base-font-color: grey;
$baseFontColor: $base-font-color;
$lighter-base-font-color: $base-font-color;
$text-color: grey;

.home {
  header {
    .outer-wrapper {
      opacity: 0.75;
    }
  }
}

// Courseware ------------------------------

.course-preview {
  background-color: #cccccc;
  background-image: none !important;

  .info-link{
    //color:white !important;
    //font-style: normal !important;
    padding-top: 5px !important;
  }
  hgroup {
    h2 {
      font-family: 'Open Sans' !important;
      //font-size: 14pt !important;
      //font-weight: normal !important;
      color: white !important;

      span {
        font-family: 'Open Sans' !important;
        //font-size: 14pt !important;
        //font-weight: normal !important;
      }
    }
  }
}
//                                   ------------------------------ Courseware

.nav-courseware {
  li {
    .cta {
      font-weight: 600 !important;
    }
  }
}



.bottom {
  span {
    font-family: 'Open Sans' !important;
  }
}

.references {
  span {
    font-family: 'Open Sans' !important;
    //font-size: 13pt !important;
  }
}


.outer-wrapper {
  max-width: 100% !important;
  padding: 240px 0 0 !important;
}

.title {
  margin: 0 !important;
  width: 100% !important;

  hgroup {
    width:inherit;
    text-align: center !important;
    padding:0 !important;
    margin: 30px 0 0 0 !important;

    h1 {
      font-family: FoundersGroteskXCond-SmBd !important;
      color: #ec6a12;
      font-size: 38pt;
      text-align: center !important;
    }
  }
}

.sequence-nav ol li a {
  max-height: 43px !important;
  padding: 11px 0 !important;
  height: inherit !important;
}

.nav-colophon {
  li {
    a {
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
      color: #bdc0c2 !important;
    }
  }
}

//span.course-number {
//    color: white !important;
//}

a.cta.cta-register {
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  color: white !important;
}

a.cta.cta-login {
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  color: white !important;
}

//.form-actions {
//  button {
//    font-family: $theme-sans-font;
//  }
//}

.meta-info {
  p {
    font-family: 'Open Sans' !important;
    //font-style: normal !important;
  }
}

//.instructions {
//  font-family: normal $theme-sans-font !important;
//  font-weight: 200 !important;
//}

.desc {
  h2 {
    font-family: 'Open Sans' !important;
  }
  p {
    font-family: 'Open Sans' !important;
    //font-size: 12pt !important;
  }
}

h1, h2 {
  font-family: 'Open Sans' !important;

  span {
    font-family: 'Open Sans' !important;
  }
}

//p {
//  font-family: Helvetica, Arial, sans-serif !important;
//}
//a {
//  font-family: Helvetica, Arial, sans-serif !important;
//}

.logo img {
  margin-top: -2px !important;
}

.find-courses {
  header.search {
    margin-top: 0 !important;
    height: 460px !important;
    box-shadow: none !important;

    .inner-wrapper {
      padding-top: 240px !important;
      max-width: none !important;
    }

    .inner-wrapper.main-search {
        h2 {
          max-height: 47px !important;
          text-align: center;
          text-transform: none !important;
          color: #ec6a12 !important;
          font-family: FoundersGroteskXCond-SmBd !important;
          font-size: 38pt !important;
        }
        hgroup {
          width: 100% !important;
          opacity: 0.75 !important;
          padding: 35px 0 !important;
          height: 48px !important;
        }
      }
  }
}

.hero {
  max-height: 201px !important;
}

.user {
  li.primary {
    height: 32px !important;

    a {
      height: 100% !important;
    }
  }
}

.contact-container {
  width: 60%;
  margin: auto;
}

header.global {
  nav {
    padding: 7px 0 0 !important;
  }
  box-shadow: none !important;
  height: 58px !important;
  .user {
    a.user-link {
      //font-size: 22px !important;
    }
  }
  .nav-global {
    li {
      a {
        //font-size: 21px !important;
      }
    }
  }
}
// ----------- Login Page ----------------

button {
  font-family: 'Open Sans' !important;
}

a.enter-course {
  //font-size: 22px !important;
}

.field {
  input {
    //font-size: 20px !important;
  }
  .required {
    label {
      //font-size: 20px !important;
      //font-weight: 600;
    }
  }
  .tip {
    font-size: 14px !important;
  }
}

.login {
  form {
    .field.required {
      label {
        //font-size: 20px !important;
      }
    }
  }
    a {
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
    }
}

.view-login {
  .login {
    p {
      font-family: 'Open Sans' !important;
    }
    aside {
      .cta {
        h3 {
          //font-size: 21px !important;
        }
      }
    }
  }
}

// --------login page ------------

// -- Register Page -------------

.view-register {
  .register {
    aside {
      .cta {
        h3 {
          //font-size: 21px !important;
        }
      }
    }
    form {
      .instructions {
        font-family: 'Open Sans' !important;
      }
    }
    p {
      font-family: 'Open Sans' !important;
    }
  }
  .introduction {
    header {
      .title {
        .title-sub {
          font-size: 18px !important;
        }
      }
    }
  }
}

.register {
  form {
    .group-form-personalinformation {
      .field-yob {
        display: inherit !important;
        margin-bottom: 20px !important;
      }
      //.field-education-level {
      //  display: inherit !important;
      //  margin-bottom: 10px !important;
      //}
      //.field-gender {
      //  display: inherit !important;
      //  margin-bottom: 10px !important;
      //}
    }
    .field-group {
    //  .field {
    //      float: none !important;
    //    }
      .required {
        label {
          //font-size: 20px !important;
        }
      }
      input {
        //font-size: 20px !important;
      }
      .tip {
        //font-size: 20px !important;
      }
    }
    .field.select {
      select {
        //font-size: 20px !important;
      }
    }
  }
}

.cta-login {
  .cta-login-action {
    color: #808080 !important;
    //font-size: 16px !important;
  }
  .cta-login-action:hover {
    color: #fff !important;
    background: #808080 !important;
    border: 1px solid #808080 !important;
  }
}



// --------register page ------------

// -------- Login Dashboard  ---------

.dashboard {
  .profile-sidebar {
    .user-info>ul {
      li {
        span.title {
          //font-size: 20px !important;
        }
      }
    }
  }
  .my-courses {
    a.email-settings, a.unenroll {
      //font-size: 20px !important;
    }
    .course {
      .info>hgroup {
        .university {
          //font-size: 20px !important;
        }
        .date-block {
          //font-size: 20px !important;
        }
      }
    }
  }
}

// -------- login dashboard ----------

// --------- Login Courses page --------

.ui-accordion {
  .ui-accordion-header {
    a {
      //font-size: 20px !important;
    }
  }
}

.course-index {
  div#accordion {
    ul.ui-accordion-content {
      li {
        a {
          p.subtitle {
            //font-size: 20px !important;
          }
          p {
            //font-weight: normal !important;
            //font-size: 20px !important;
          }
        }
      }
    }
  }
}

.wrap-instructor-info {
  .instructor-info-action {
    //font-size: 14px !important;
  }
}

.wrapper-course-material {
  ol.course-tabs {
    li {
      a {
        //font-size: 22px !important;
      }
    }
  }
}

div.info-wrapper {
  section.handouts {
    ol {
      li {
        a {
          //font-size: 16px !important;
        }
      }
    }
  }
}

.instructor-dashboard-content-2 {
  input[type="button"] {
    //font-weight: normal !important;
    //font-size: 20px !important;
  }
  .instructor-nav {
    .nav-item {
      a {
        //font-size: 1.2em !important;
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#membership {
    .member-lists-management {
      .auth-list-container {
        .member-list-widget {
          .info {
            //font-size: 20px !important;
          }
          .member-list {
            td {
              //font-size: 1em !important;
            }
          }
        }
      }
    }
  }
}

label {
  //font-size: 1.2em !important;
}

.discussion-module {
  .discussion-show {
    //font-size: 20px !important;
  }
  .new-post-btn {
    //font-size: 21px !important;
  }
}

.openassessment {
  .openassessment__promt__copy {
    //font-size: 20px !important;
  }
  .step--response {
    .response__submission__status__title {
      font-family: 'Open Sans' !important;
    }
  }
  .openassessment__steps__step {
    .step__status {
      .copy {
        font-family:'Open Sans' !important;
      }
    }
    .step__header {
      h2.step__title {
        .step__label {
          color: #808080 !important;
          font-weight: normal !important;
        }
      }
    }
  }
  .list--actions {
    li {
      a {
        span.copy {
          font-family: 'Open Sans' !important;
        }
      }
    }
  }
}

div.course-wrapper {
  section.course-content {
    p {
      //font-size: 20px !important;
    }
  }
}

.wrapper--xblock {
  li {
    //font-size: 20px !important;
  }
  .field {
    .tip {
      font-family: 'Open Sans' !important;
    }
  }
}

.list {
  .list--actions {
    .list--action__item {
      a {
        span.copy {
          font-family: 'Open Sans' !important;
        }
      }
    }
  }
}

.action {
  .action--submit {
    .step--response__submit {
      .copy {
        font-family: 'Open Sans' !important;
      }
      .is--disabled {
        .copy {
          font-family: 'Open Sans' !important;
        }
      }
    }
  }
}

select {
  font-family: 'Open Sans' !important;
}



// --------- login courses page --------
