$main-color: grey; //#f7691f;
$dark-color: grey; //  #ea281f; //Link Color
$light-color: $dark-color;// #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: $dark-color;// #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

$main-bg: #e6e6e6; // #822537;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

$secondary: #f2f2f2; // #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%);

$footer_margin: ($baseline/4) 0;

$homepage-bg-image: url('../themes/default/images/background.jpg');

$base-font-color: black;
$baseFontColor: black;
$lighter-base-font-color: black;
$text-color: black;
$font_base_color_custom: black;
$body-line-height: black;
$base-font-color: black;
$baseFontColor: black;
$base-font-color: black;
$lighter-base-font-color: black;
$very-light-text: black; // #ffffff

//custom colors --------------------------------------------
$orange: #D46139;
$dark-blue: #095179;
$medium-blue: #1A6894;
$dark-grey: #A3AAAE;
$medium-grey: #CACED0;
$light-grey: #D8DADB;


$lighter-base-font-color: $baseFontColor;
$header-bg: $dark-blue;
$course-bg-color: white;
$content-wrapper-bg: $medium-blue;
$footer-bg: $dark-blue;
$courseware-footer-border: $dark-grey;
$courseware-footer-shadow: $dark-grey;

.home {
  header {
    border-bottom: 1px solid $dark-grey !important;
    box-shadow: 0 1px 0 0 $dark-grey,inset 0 -1px 5px 0 rgba(0,0,0,0.1) !important;
    .outer-wrapper {
      opacity: 0.75;
    }
  }
  background: $medium-blue !important;
}

.course-preview {
  background-color: #cccccc;
  background-image: none !important;

  .info-link{
    padding-top: 5px !important;
  }
  hgroup {
    h2 {
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
      color: white !important;

      span {
        font-family: 'Open Sans' !important;
      }
    }
  }
}

.nav-courseware {
  li {
    .cta {
      font-weight: 600 !important;
    }
  }
}



.bottom {
  span {
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
  }
}

.references {
  span {
    font-family: 'Open Sans' !important;
  }
}


.outer-wrapper {
  max-width: 100% !important;
  padding: 240px 0 0 !important;
}

.title {
  margin: 0 !important;
  width: 100% !important;

  hgroup {
    width:inherit;
    text-align: center !important;
    padding:0 !important;
    margin: 30px 0 0 0 !important;

    h1 {
      font-family: FoundersGroteskXCond-SmBd !important;
      text-transform: uppercase !important;
      color: $orange;
      font-size: 38pt;
      text-align: center !important;
    }
  }
}
.xmodule_display.xmodule_SequenceModule {
  nav.sequence-nav {
  ol {
    background-color: $dark-grey !important;
    padding: 0 !important;
    // height: 100% !important;
    li {
      //height: 100% !important;
      padding: 0 !important;
      a {
        font-size: 16px !important;
        color: black !important;
        padding: 11px 0 !important;
        height: 20px !important;
      }
      a.active {
        background: $light-grey !important;
        line-height: 1.125em;
        //padding: 11px 0 !important;
        height: inherit !important;
        //display: table !important;

      }
    }
  }
  ul {
    li {
      border: 1px solid $dark-grey !important;
      background-color: $dark-grey !important;
      background-image: none !important;
    }
  }
}
}

.sequence-list-wrapper {
  ol {
    li {
      a.active {
        height: 42px !important;
        padding: 11px 0 !important;
      }
    }
  }
}


.nav-colophon {
  li {
    a {
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
      color: white !important;
    }
  }
}

a.cta.cta-register {
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  color: black !important;
}

a.cta.cta-login {
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  color: black !important;
}

.meta-info {
  p {
    font-family: 'Open Sans' !important;
  }
}

.desc {
  h2 {
    font-family: 'Open Sans' !important;
  }
  p {
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
    line-height: 22px !important;
  }
}

h1, h2 {
  font-family: 'Open Sans' !important;

  span {
    font-family: 'Open Sans' !important;
  }
}
.logo img {
  margin-top: -2px !important;

}

header.global.slim {
  padding: 0 !important;
  h1.logo {
    margin: -4px 10px 0 0 !important;
  }
}

.find-courses {
  background: $medium-blue !important;
  .courses {
    .course {
      .info {
        background: white !important;
      }
    }
  }
  header.search {
    margin-top: 0 !important;
    height: 460px !important;
    box-shadow: none !important;

    .inner-wrapper {
      padding-top: 240px !important;
      max-width: none !important;
    }

    .inner-wrapper.main-search {
        h2 {
          max-height: 47px !important;
          text-align: center;
          text-transform: uppercase !important;
          color: $orange !important;
          font-family: FoundersGroteskXCond-SmBd !important;
          font-size: 38pt !important;
        }
        hgroup {
          width: 100% !important;
          opacity: 0.75 !important;
          padding: 35px 0 !important;
          height: 48px !important;
        }
      }
  }
}

.hero {
  max-height: 201px !important;
}

.user {
  li.primary {
    height: 32px !important;

    a {
      height: 100% !important;
    }
  }
}

.contact-container {
  width: 60%;
  margin: auto;
}

header.global {
  .nav-global {
    li {
      a {
        color: white !important;
      }
      a:hover {
        color: white !important;
      }
    }
  }
  nav {
    padding: 7px 0 0 !important;
    li {
      .cta {
        background: $medium-grey !important;
      }
      .cta:hover {
        background: $light-grey !important;
      }
    }
  }
  box-shadow: none !important;
  border-bottom: 2px solid $dark-grey !important;
  height: 58px !important;
}

header.global.slim {
    h2 {
      color: white !important;
      text-shadow: none !important;
      .provider {
        color: white !important;
      }
    }
  }

button {
  font-family: 'Open Sans' !important;
}

.field {
  .tip {
    font-size: 14px !important;
    color: black !important;
  }
}

.login {
  a {
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
  }
  a:link {
    color: black !important;
  }
  .orn-plus {
    color: white !important;
  }
}

.form-actions {
  button[type='submit'] {
    background: $orange !important;
    box-shadow: 0 2px 1px 0 $orange !important;
  }
}


.view-login {
  .login {
    p {
      font-family: 'Open Sans' !important;
    }
    aside {
      .cta {
        h3 {
          color: black !important;
        }
      }
    }
  }
  .introduction {
    header {
      .title {
        .title-super {
          color: black !important;
        }
      }
    }
  }
}

.view-register {
  .register {
    form {
      .instructions {
        font-family: 'Open Sans' !important;
      }
    }
    p {
      font-family: 'Open Sans' !important;
    }
    aside {
      .cta {
        h3 {
          color: black !important;
        }
      }
    }
  }
  .introduction {
    header {
      .title {
        .title-sub {
          font-size: 18px !important;
          color: black !important;
        }
        .title-super {
          color: black !important;
        }
      }
    }
  }
}

.register {
  form {
    .group-form-personalinformation {
      .field-yob {
        display: inherit !important;
        margin-bottom: 20px !important;
      }
    }
  }
}

.cta-login {
  .cta-login-action {
    color: #808080 !important;
  }
  .cta-login-action:hover {
    color: #fff !important;
    background: #808080 !important;
    border: 1px solid #808080 !important;
  }
}

.openassessment {
  .step--response {
    .response__submission__status__title {
      font-family: 'Open Sans' !important;
    }
  }
  .openassessment__steps__step {
    .step__actions {
      .action--submit {
        background: $medium-blue !important;
        border: 1px solid $medium-blue !important;
      }
    }
    .step__status {
      .copy {
        font-family:'Open Sans' !important;
      }
    }
    .step__header {
      h2.step__title {
        .step__label {
          color: black !important;
          font-weight: normal !important;
        }
      }
    }
  }
  .list--actions {
    li {
      a {
        span.copy {
          font-family: 'Open Sans' !important;
        }
      }
    }
  }
}

.wrapper--xblock {
  .field {
    .tip {
      font-family: 'Open Sans' !important;
    }
  }
}

.list {
  .list--actions {
    .list--action__item {
      a {
        span.copy {
          font-family: 'Open Sans' !important;
        }
      }
    }
  }
}

.action {
  .action--submit {
    .step--response__submit {
      .copy {
        font-family: 'Open Sans' !important;
      }
      .is--disabled {
        .copy {
          font-family: 'Open Sans' !important;
        }
      }
    }
  }
}

select {
  font-family: 'Open Sans' !important;
}

.highlighted-courses {
  .courses {
    .course {
      border: 1px solid $dark-grey !important;
      .info {
        background: white !important;
      }
      header.course-preview {
        border-bottom: 2px solid $dark-grey !important;
      }
    }
  }
}

.wrapper-footer {
  border-top: 2px solid $dark-grey !important;
  footer {
    a:hover {
      border-bottom: 1px dotted white !important;
      color: white !important;
    }
  }
}

.references {
  span {
    color: white !important;
    a {
      color: white !important;
    }
  }
}

.user-info {
  ul {
    li {
      span {
        color: black !important;
      }
    }
  }
}

.dashboard {
  .my-courses {
    a.email-settings {
      color: white !important;
    }
    a.unenroll {
      color: white !important;
    }
    .course {
      .info {
        hgroup {
          .university {
            color: white !important;
          }
          .date-block {
            color: white !important;
          }
          h3 {
            a {
              color: white !important;
            }
          }
        }
        .enter-course {
          border: 1px solid $orange !important;
          box-shadow: inset 0 1px 0 0 $orange !important;
          background-color: $orange !important;
          background-image: none !important;
          text-shadow: 0 1px 0 $orange !important;
        }
      }
    }
  }
}

.my-courses {
  header {
    h2 {
      color: white !important;
    }
  }
}

.wrapper-course-material {
  ol.course-tabs {
    li {
      background: inherit !important;
      border-radius: 4px !important;

      a {
        color: white !important;
      }
      a:hover {
        background: $orange !important;
      }
      a.active {
        box-shadow: 0 0px 0 rgba(255,255,255,0.5),0 1px 1px rgba(0,0,0,0.3) inset !important;
        background: $orange !important;
      }
    }
  }
}

.xmodule_display.xmodule_HtmlModule {
  h2 {
    color: $orange !important;
  }
}


.right-shadow {
  background: none !important;
}

.left-shadow {
  background: none !important;
}

#content.content-wrapper {
  background: $medium-blue !important;
}
.content-wrapper {
  padding-bottom: 0 !important;
}

.course-index {
  div#accordion {
    h3.ui-accordion-header {
      a {
        color: black !important;
      }
    }
    .chapter {
      background: white !important;
      border-bottom: 1px solid $dark-grey !important;
      border-right: 1px solid $dark-grey !important;
    }
  }
}

.wrap-instructor-info {
  .instructor-info-action:hover {
    background: $light-grey !important;
  }
}

.discussion-module {
  .new-post-btn {
    background: $medium-blue !important;
    border: 1px solid $medium-blue !important;
  }
}

.course-index {
  background: white !important;
}

.wrapper-preview-menu {
  background: $medium-blue !important;
  .preview-actions {
    .action-preview {
      .action-preview-label {
        color:white !important;
      }
    }
  }
}

.theme-container {
  background: white;
  margin: 20px;
  padding: 20px 0;
}
