## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
       <nav class="nav-colophon">
         <ol>
          <li><a href="${reverse('about')}">About</a></li>
          <li><a href="${reverse('about')}#careers">Careers</a></li>
          <li><a href="${reverse('about')}#contact">Contact</a></li>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
         </ol>
       </nav>



    </div>
    <div class="references" style="margin:0;">
      <a href="" class="no-underscore">
        <img src="/static/themes/default/images/logo.jpg" alt="" height="50">
      </a>
    </div>

  </footer>
</div>

