<%! from django.utils.translation import ugettext as _ %>
<%inherit file="main.html" />

<%block name="pagetitle">${_("About")}</%block>
<section class="register container" style="padding: 1px 30px;">
<div class="theme-container">
  <section class="container about">

      <p>${_(u"This training course was developed by Not For Sale and the Samilia Foundation, in consultation with Delhaize Group and with financial support from the European Commission. By completing this short course, you will learn about what human trafficking is and why it occurs. You will also find out what you and your company can do to help fight trafficking. We hope that you finish this course feeling empowered to help create a world where no one is for sale.")}</p>
      <h2>${_(u"About Samilia")}</h2>
      <p>${_(u"Samilia Foundation was created in 2007 in order to alert and raise awareness on human trafficking in Belgium. Samilia develops prevention and social inclusion projects in countries of origin of victims of trafficking, whether victims of sexual exploitation or forced labour, and collaborates with the private sector, local and international NGOs and governments in order to efficiently set actions to combat the root causes of human trafficking.")}</p>
      <p>${_(u"Samilia offers corporate workshops on human trafficking in order to raise awareness on slavery in supply chains and get the private sector involved in the fight against this growing phenomenon.")}</p>
      <p>${_(u"You can support and find out more on Samilia on")} <a href="www.samilia.org">www.samilia.org</a></p>
      <h2>${_(u"About Not For Sale")}</h2>
      <p>${_(u"Founded in 2007, Not For Sale works to protect, equip and empower survivors of human trafficking and those at risk of exploitation. With headquarters in San Francisco, California, the international nonprofit manages projects with children and adults in North America, Europe and Asia.")}</p>
      <p>${_(u"Not For Sale also works to engage businesses in the fight against human trafficking with awareness raising, supply chain responsibility, and survivor training and employment programs.")}</p>
      <p>${_(u"To date, Not For Sale has provided services to more than 10,000 people in 11 countries. Learn more at ")}<a href="www.notforsalecampaign.org">www.notforsalecampaign.org</a></p>

  ## <h2>${_("About this course")}</h2>

  </section>
</div>
</section>