<%! from django.utils.translation import ugettext as _ %>
<%inherit file="main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_(u"FAQ")}</h1>
<h3>${_(u"Who created this course?")}</h3>
<p>${_(u"This training course was developed by Not For Sale and the Samilia Foundation, in consultation with Delhaize Group, and with financial support from the European Commission.")}</p>
  <h3>${_(u"What is the purpose of this course?")}</h3>
<p>${_(u"This course is designed to raise awareness about human trafficking. Its intention is to inform and educate users about the issue and what they can do to be part of the solution.")}</p>
  <h3>${_(u"How long is this course?")}</h3>
<p>${_(u"Completing this course should take you no more than 40 minutes. However, there are optional sections and resources that you can access to gain a deeper knowledge on the issue, which might add to the total time for completing this course.")}</p>
  <h3>${_(u"Do I need to know anything about human trafficking before taking this course?")}</h3>
<p>${_(u"No, this course is an introductory course designed to educate and inform you about human trafficking. Previous knowledge is not required.")}</p>
  <h3>${_(u"If I see an instance of human trafficking taking place, what should I do?")}</h3>
<p>${_(u"Do not intervene to try rescue someone you suspect of being a victim of human trafficking or confront a trafficker, as this can put you, the potential victim, and the people around you in danger. If you suspect a case of human trafficking is taking place, call the local police for help.")}</p>
  <h3>${_(u"I’m having problems with my account, who can I contact?")}</h3>
<p>${_(u"If you are having problems with the course you can contact")}
  <a href="mailto:support@businessagainstslavery.org">support@businessagainstslavery.org.</a>
  ${_(u"We will make every attempt to respond to your concern in a timely manner.")}</p>
</section>
