## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper wrapper-footer">

  <footer id="footer-openedx">

    <div class="colophon">

        <div class="raccoon-block">
          <a href="http://code.edx.org" target="_blank">

        <span class="raccoongang">

    	  Built on <img src="/static/images/openedx_logo.png" />
        </span>
      </a>
      <a href="http://raccoongang.com" target="_blank">

        <span class="raccoongang">

    	   by Raccoon Gang <img src="${static.url('themes/default/images/RaccoonLogo.png')}" />
        </span>
      </a>
  </div>
    </div>
    <div class="references">
       <span>
         <a href="https://javacademy.ru/" target="_blank">
           <img src="/static/images/logo.png" alt="" height="70">
         </a>
       </span>
    </div>
  </footer>
</div>

